/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common css */
body{
    background-color: #ffffff;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color:#E02C6D;
    --secandary-color:#3A3A3A;
}
/* shared css */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    
}

.section-titile{
    color: var(--secandary-color);
    font-size: 3.2rem;
    font-weight: 600;
}
h1,p{
    color: var(--secandary-color);
}
main > section {
    margin-top: 120px;
}
/* header  start*/
/* nav-bar section start */


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}
.nav-bar ul{
    display: flex;
     justify-content: center;
         align-items: center;
}
.nav-bar ul li{
   margin-right: 30px;
   list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--secandary-color);
}
/* nav-bar seciton end */
/* banner section  start*/

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    
   
}
.banner-contant{
    max-width: 600px;
    max-height: 272px;
 
   
}

.banner-img-section {
    width: 100%;
    max-width: 600px;
    background-image: url('../images/Circle design.svg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-section img {
    width: 100%;
    height: auto;
    margin: 0;
}
/* banner section  end*/

/* header  end*/
/* main section start */
/* logo section */
.logo-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    gap: 40px;
   
}

@media screen and (max-width: 576px) {
     .banner,.nav-bar{
        flex-direction:column;
        text-align: center;
        gap: 10px;
    }


    .banner-img-section {
        width: 90%;
 
        padding-bottom: 80px;
    
        background-size: cover;
        background-position: center;
        order: 1;
    }

    .banner-img-section img {
        width: 100%;
        height: auto;
       
        
    }

    .banner-contant {
        padding: 0 20px;
         order: 2 
         
    }
  



}
@media screen and (min-width:576px) and (max-width:992px) {
          .banner-contant{
                padding-left: 30px;
              
          }
          .banner-img-section{
                   
               /* width: 78%; */
              padding-right: 60px;
          }
}