/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common css */
body{
    background-color: #ffffff;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color:#E02C6D;
    --secandary-color:#3A3A3A;
    --product-name-color:#18191F;
    --product-description-color:#787885;
    --footer-bg-color: rgb(10,8,38);
}
/* shared css */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    
}

.section-titile{
    color: var(--secandary-color);
    font-size: 3.2rem;
    font-weight: 600;
}
h1,p{
    color: var(--secandary-color);
}
main > section {
    margin-top: 80px;
}
/* header  start*/
/* nav-bar section start */


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}
.nav-bar ul{
    display: flex;
     justify-content: center;
         align-items: center;
}
.nav-bar ul li{
   margin-right: 30px;
   list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--secandary-color);
}
/* nav-bar seciton end */
/* banner section  start*/

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    
   
}
.banner-contant{
    max-width: 600px;
    max-height: 272px;
 
   
}

.banner-img-section {
    width: 100%;
    max-width: 600px;
    background-image: url('../images/Circle design.svg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-section img {
    width: 100%;
    height: auto;
    margin: 0;
}
/* banner section  end*/

/* header  end*/
/* main section start */
/* logo section */
.logo-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    gap: 40px;
   
}
 /* product secton start */
    .product-name{
        color: var(--product-name-color);
        font-weight: 500;
        font-size: 1.8rem;
    }
    
    .product-description{
        color: var(--product-description-color);
        font-size: 0.9rem;
        font-weight: 700;
    }
    .price{
        font-weight: 400;
        font-size: 1.8rem;
        color: #000000;
    }
    .product-card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .product-card{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        max-width: 329px;
        max-height: 476px;
       padding: 20px 15px;
        
    }
    .product-card > img{
       
        width: 100%;
    
    }
    .product-section h1{
        text-align: center;
        margin-bottom: 40px;
    }
    .review-container span{
        margin-left: 10px;
        color: var(--secandary-color);
        font-weight: 500;
    }

    .see-all{
        color: var(--primary-color);
        text-align: right;
        margin-top: 20px;
        margin-right: 60px;
    }
    /*  Featured products  place start */
    .featured-product{
        display: flex;
        justify-content:space-between;
        align-items: center;
       gap: 100px;
    }
    .featured-product-btn{
        border-radius: 0;
      padding: 15px 55px;
    }
    .featured-contain {
         font-size: 1.3rem;

    }
    .featured-contain > p{
        margin: 20px 0;
    }
    /* Featured products  place end */
   .footer{
     background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
     margin-top: 100px;
   }
   .footer-contain{
   
    max-height: 162px;
    max-width: 400px;
    margin: 0 auto;
    
   }
   .footer-contain >p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.1rem;
   }  
   .footer-titile{
    font-size: 1.7rem;
    color: white;
    text-align: center;
    font-weight: 700;
   }
@media screen and (max-width: 576px) {
     .banner,.nav-bar{
        flex-direction:column;
        text-align: center;
        gap: 10px;
    }

 .featured-product{
      flex-direction: column-reverse;
    
 }
 .featured-contain{
    text-align: center;
 }
    .banner-img-section {
        width: 90%;
 
        padding-bottom: 80px;
    
        background-size: cover;
        background-position: center;
        order: 1;
    }
    .logo-container{
          box-shadow: none;
    }

    .banner-img-section img {
        width: 100%;
        height: auto;
      
       
        
    }

    .banner-contant {
        padding: 0 20px;
         order: 2 
         
    }
  
    .product-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
        gap: 20px;
    }
.product-card{
      margin: 0 auto;
}
   


}
@media screen and (min-width:576px) and (max-width:992px) {
          .banner-contant{
                padding-left: 30px;
              
          }
          .banner-img-section{
                   
              
              padding-right: 60px;
          }

           .product-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      
        gap: 20px;
    }
    .product-card{
      margin: 0 auto;
}

.featured-product{
   gap: 35px;
}
}